/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root{
/* condensed parameters, for pdf printing */
	--pstart-left: 15%; /* left edge of the main body text default: 25%, 15% */
	--heading2body-margin: 3%; /* gap between headings and body default: 5%, 3% */
	--body-width: 75%; /*default 55%, 65%*/
	--list-width: 100%; /*90-77% also works well, blockier */
	/*how wide list items are. should generally be similar to body width default 60%*/
	--date-margin-from-page-edge: 3%; /* default : ??, 5%*/
	--between-paragraph-space: 1em; /*.5em*/
	--sub-contact-space: 1em;

	--overall-font-size: 14px; /*13px;*/
	--default-line-space: 1.3em; /*1.5em*/

/*
	--pstart-left: 15%;
	--heading2body-margin: 3%;
	--body-width: 65%;
	--list-width: 100%;
	--date-margin-from-page-edge: 5%;
	--between-paragraph-space: 0.5em;
	--sub-contact-space: 1em;
*/

/* spacious version, for web layout */

/*
	--pstart-left: 25%;
	--heading2body-margin: 5%;
	--body-width: 55%;
	--list-width: 75%;
	--date-margin-from-page-edge: 5%;
	--between-paragraph-space: 1.5em;
	--sub-contact-space: 2em;

	--overall-font-size: 16px;
	--default-line-space: 1.5em;

*/

	--main-text-width: calc( var(--body-width)  + var(--pstart-left) + 5%%) ;
	--date-right-edge: calc( 2*(var(--main-text-width)) - 200% + var(--date-margin-from-page-edge));
	--heading-right-edge: calc( var(--pstart-left) - var(--heading2body-margin) );

	/*--default-line-space: 1.5em;*/

	/* pastel cactus*/
/*
		--background-color:#e8fff4;
		--text-bold: #053917	;
		--text-color: #32804d;
		--accent-color: #99439a;
		--light-color: #edd05f;

		*/

/* starry night
https://www.schemecolor.com/starry-starry-night.php */
/*
	--background-color:#0B1E38;
	--text-bold: #E8E163	;
	--text-color: #faf7c5;
	--accent-color: #DB901C;
	--light-color: #4888C8;
*/

/*solarized light*/
	/*
	--background-color: #fdf6e3;
	--text-bold: #002b36	;
	--text-color: #586e75	;
	--accent-color: #cb4b16;
	--light-color: #b7c6c6;

*/
 /*traditional color palette*/

	--background-color: #fff;
	--text-bold: #000;
	--text-color: #111;
	--accent-color: #09ab7d;
	--light-color: #c0c0c0;
	--light-color: #cdcccc;
	/*

*/

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 20px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 99em; /* def 2*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



body {
	font: normal normal 400;
	font-size: var(--overall-font-size);
	line-height: var(--default-line-space);/**/
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Avenir,Verdana,sans-serif;
	/*font-family: Helvetica,serif;*/
	margin-top: 1em;
	margin-left: 1em;
	color: var(--text-color);
	background-color: var(--background-color);
}


p {
	position: relative;
	left: var(--pstart-left); /* starting point for*/
	margin-right: 0;
	width: var(--body-width);

/* these two lines prevent "double spacing" between paragraphs*/
/* https://www.thesitewizard.com/css/change-space-between-paragraphs.shtml */
  margin-top: 0 ;
  margin-bottom: var(--between-paragraph-space);
}


/* used for dates */
code {
	font: normal normal;
	font-size: 70%; /*90%*/
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: var(--light-color);
}

p code {
	position: absolute;
	text-align: right;
	right: var(--date-right-edge);
}


ul {
	position: relative;
	/*uncomment to get circles at beginning of the list*/
	/*
	list-style-type: '-'; circle;
	margin-left: 0;
	padding-left: 1.0em;
	*/
	margin-left: 0;

	left: var(--pstart-left);
	width: 75%;
}

/* for lists after paragraph breaks, undo paragraph spacing*/
p + ul {
	margin-top: calc(-1 * var(--between-paragraph-space));
	margin-bottom: var(--between-paragraph-space);
}

/*uncomment to get dashes in the list*/
li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}
	/**/

/* each item in list */
li {
/*	padding-left: 1.25em;*/
/*	text-indent: -1.25em;*/
	padding-left:0.3em;/* 0.5em;*/
	width: var(--list-width);
	/*margin-bottom: 0.5em; /* this is a hack.. for some reason if you don't include this,...
	you get extra space between line above and start of list*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em; /* doesn't seem to affect things */
}

/* i: images, icons */
/* not sure why this is necessary, but otherwise the icons get messed up by the text indent under li */
i {
	text-indent: 0em;
}

/**/
h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 80%;<!--80%;-->
}

h1 {
	/* title / name */
	color: var(--text-bold);
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: var(--pstart-left);
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}
/*left column highlights*/
h2 {
	font-weight: bolder;
	font-size: 1.1em;
	color: var(--accent-color) ;/*accent color #bc412b;*/
	margin-top: 1em; /*3em*/
	position: relative;
	/*top: 1.1em; /*1.4em*/
	top: 1.1em; /*controls position relative to start of list */
	text-align: right;
	width: var(--heading-right-edge);

	line-height: 1em; /* should probably be 1.5em for consistency */
}

h3 {
	font-size: 1em;
	line-height: 1em; /*2em*/
	position: relative;
	top: 1.7em;
	text-align: right;
	width:var(--heading-right-edge);

	/*line-height: 1em;*/

}



/*<hr style="border: 1px dashed #C0C0C0;" />*/
hr {
	margin-top: calc(2*var(--between-paragraph-space)); /*2em;*/
	margin-bottom: var(--between-paragraph-space);
	border-width: 1px ;
	border-style: dashed;
	/*border-style: ridge;*/
	color: var(--light-color);
}

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: var(--pstart-left);
	color: var(--accent-color);
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 80%;
	margin-bottom: var(--sub-contact-space);
}

#webaddress a {
	text-decoration: none;
}

em {
	/* font-weight: bold; */
	font-style: italic;
}

strong {
	font-weight: bold;
	color: var(--text-bold);
}

#address {
	display: none;
}


/*
@media only screen and (max-width: 480px) {
	make one column somehow...
}*/
